body * {  
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    margin: 0; 
}

.innerpanel { 
    width: 980px;
    margin-left: auto;
    margin-right: auto; 
}

.mainbody { 
    background-color: transparent;
    width: 980px;
    margin-left: auto;
    margin-right: auto; 
} 

.mainpage {   
    width: 980px;
    margin-left: auto;
    margin-right:  auto;   
}
 

.dinaheader { 
    height: 70px;
    width: 980px;
    margin-left: auto;
    margin-right:  auto;   
    background: url('../resources/images/dina_header.png') no-repeat scroll right center transparent; 
    border-bottom: solid   1px; 
    overflow: auto;
} 
 

.dinaheadertext {  
    font-weight: bold;
    font-size: 30px;
    margin-left: auto; 
    margin-right: auto;  
}

 
.languagepanel { 
    float: right;  
    vertical-align: top;
    margin-top: -20px;
    margin-right: 10px;
    font-weight: bold;
}

.topmenu {  
    width: 980px; 
    margin-left: auto;
    margin-right:  auto; 
    padding: 5px 20px 5px 20px;
    border-bottom: solid   1px;
} 




.topmenu .activeTablink { 
    color: #0B4C5F;
    font-weight: bold;
    text-decoration: none !important;
}
 

.topmenu .inactiveTablink { 
    color: #006699;
    text-decoration: none !important;
}

/*.topmenu a  {
    color: #006699;
}

.topmenu a:hover  {
    color: #0B4C5F;
    text-decoration: underline;
}
 
.topmenu a:active {
    color: #585858; 
}*/


.readmorepanel { 
    float: right;
    font-size: 10px;
}
 
.readmorepanel a:active {
    color: #585858; 
}

.readmorepanel a  {
    color: #006699;
    text-decoration: underline;
}
 

.welcome {
    margin-left: auto;
    margin-right: auto;
}

.welcomeheader { 
    font-weight: bold;
    font-size: 24px;   
}

.contactfootpanel {
    width: 980px;
}

.contactfootpanel a {
    color: #006699;
    text-decoration: underline;
}

.simplesearchpanel {
    margin-left: auto;
    margin-right: auto;  
    width: 980px; 
    padding-bottom: 10px;
}

.advancesearchpanel { 
    width: 940px;  
    margin-left: 20px; 
    margin-top: 10px; 
    margin-right: 20px; 
}

.welcomepagepanel{
    width: 980px;
    border-top: solid 1px;
}











.checkedlisthead {
    text-align: center; 
    width: 730px; 
    margin-left: auto;
    margin-right: auto;
}






.navigationpanel {
    text-align: center; 
    width: 730px; 
    margin-left: auto;
    margin-right: auto;
}






.searchColumn {
    vertical-align: top;
    width: 730px; 
}

 

.statisticColumn {
    vertical-align: top;
    width: 220px; 
}

.emptyColumn {
    width: 30px;
}


.leftcolumn {
    float: left; 
    width: 160px;
    text-decoration: underline;
    color: #086A87;
    font-size: 11px;
}


.rightcolumn {
    float: right;  
    text-decoration: underline;
    color: #086A87;
    font-size: 11px;
}
 
.resultheaderemptycolumn {
    width: 350px;
}

.resultheadermaplinkcolumn { 
/*    vertical-align: top;*/
    width: 130px;
}
 


.visiblediv { 
    display: block;
}

.invisiblediv {
    display: none;
}

.boxcolumn { 
    text-align: right;
    z-index: 2000;
    position:absolute; 
    width: 150px;
    background-color: transparent;
}

.box { 
    width: 100px;
    background-color: #FFFFFF;
    border: solid 1px;
    padding-right: 15px; 
    padding-bottom: 5px;
}

.resultTableImageColumn { 
    width: 16px;   
}

.centered {
    margin: 0px auto;
} 

.resultTableDataColumn {
    width: 500px;
/*    vertical-align: middle; */
}


.resultTableDataColumn a {
    text-decoration: underline;
}



.floatleftcol {
    width: 600px;
    float: left;
}

.tableIconCol {
    text-align: left;
    font-weight: bold; 
    width: 10px;
}


.simpleTableLabelCol {
    text-align: left;
    font-weight: bold; 
    width: 160px;
}


.simpleTableValueCol {
    text-align: left; 
    width: 480px;
}
 

.historynameCol {
    width: 120px;  
}

.newdataCol {
    width: 180px;
    text-align: center;
}

.modifydataCol {
    width: 180px;
    text-align: center;
}


.searchBoxPanelSimple {  
    float: right;
}

.searchBoxPanelSimple a  {
    font-size: 11px;
    color: #006699;
    text-decoration: underline;
}
 

.searchBoxPanelAdvance {
    margin-left: 14px;
}
 

.errorcol1 {
    vertical-align: top;
    width: 150px;
    text-align: left;
    padding-right: 20px;
}

.errorcol2 {
    vertical-align: top;
    width: 580px;
    padding-right: 20px;
}

.errorcol3 {
    vertical-align: top;
    float: right;
    width: 15px;
    padding-right: 20px;
}



.alignTop {
    vertical-align:top;
}
 
 

.detailDlgLabel {
    vertical-align: top;
    width: 150px;
}


.detailDlgText {
    vertical-align: top;
    width: 450px;
}

/* ##################### link ######################### */
.shoutcutpanel a {
    text-decoration: underline;
    color: #086A87; 
    font-size: 11px;
}

 
 

a {
    color: #000000;
    text-decoration: none;
}


a:hover {
    color: #330099;
    text-decoration: underline;
}
 

.activelink { 
    color: #0B4C5F;
    font-weight: bold;
    text-decoration: none !important;
}
 

.inactivelink{ 
    color: #585858;
    font-weight: bold;
    text-decoration: none !important;
}



 

/** ##################################### data table ################################ **/
.ui-datatable * {
    border : 0px !important;    
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 1px !important;
}


.ui-datatable .ui-datatable-data td {
    vertical-align : top;
    white-space: normal !important;
} 

/*.ui-datatable table thead tr {
    display: none; 
} 
  */


.ui-datatable TR.ui-state-highlight {
    color: #000000;  
    background: none repeat scroll 0 0 transparent  !important;  
    border: inherit !important;
}



.simpleResultTable.ui-datatable table thead tr {
    display: none; 
} 


.ui-chkbox-box {
    background-image: url('../resources/images/icons/ckbox.png') !important;  
    height: 15px !important;
    width: 18px !important; 
    background-color: transparent !important; 
} 

.detailTable.ui-datatable table {
    padding: 1px !important; 
}



.detailTable.ui-datatable table thead tr {
    display: none; 
}   

.historyTableStyle.ui-datatable table { 
    border: solid 1px !important;  
    width: 650px;  
    height: 180px;
}

.historyTableStyle.ui-datatable tr td  {
    border : solid 1px !important;  
}
 
 
/***************************************** image **************************/
.images {
    border: none;
}

.imagesbottomepadding {
    border:  none;
    padding-bottom: 250px;
}

.imageswithpedding {
    border: none;
    padding: 5px; 
}

.imageCamera {
    border: none;
    padding-top: 5px;
}


.imageInStartPage {
    border: none;
    width:  350px;
    height: 292px;
}


.queryImages {
    border: none;
    width: 17px;
}

.imageswithtopmarging {
    border: none;
    margin-top: 3px;
}

.imageswithmarging {
    border: none;
    margin-top: 10px;
}

.expandbutton {
    background: white url('../resources/images/icons/downarrow.gif') no-repeat left;  
    border: none; 
    background-color: #F0F0F0;
    cursor: pointer; 
}



.hidebutton {
    background: white url('../resources/images/icons/hidearrow.gif') no-repeat left;  
    border: none; 
    background-color: #F0F0F0;
    cursor: pointer; 
}






.ui-resizable-se {
    resize : none;
}

textarea {
    resize : none;
}












/*************************** accordingpanel ***********************************/  
.accordingpanel { 
    padding-left: 20px;
    padding-right: 20px;
    width: 650px;
}

.accordingpanel .ui-accordion-header  {
    background: transparent !important;
    font-size: 12px;
    font-weight: bold; 
}

.accordingpanel .ui-accordion-content {
    background: transparent;
    font-size: 12px;
    font-weight: bold; 
}

.accordingpanel .ui-state-active {
    background: transparent; 
}




.queryfields {
    width:170px;
    margin-top: 4px; 
}



.startImage {
    background-image: url('../resources/images/3bagg_rising.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
/*    background: url('../resources/images/3bagg_rising.jpg')  no-repeat center;
    width: 400px;
    height: 167px;
    float: left ;*/
}


/* for fix datatable column width */
.ui-datatable table {
   table-layout: auto !important;
}


.ui-datatable .ui-paginator {
    background: transparent;
}


.hide-column-names.ui-datatable table  {     
   font-family: cursive;
   color: #000000; 
   display: none !important;
}
 
 

.noheader.ui-datatable table thead {
    display: none;
}

/*.hide-column-names table thead tr[role='row']  {
    display: none !important;
}*/

/*.hide-column-names.ui-datatable .ui-dt-c {
    display: none !important;
}*/

.gmap img{
    max-width:none;
}

.ui-menubar { 
    background-color: #FFFFFF !important; 
}




/*.ui-growl {
    right: 30%;
    top: 250px;
    font-size: 12px;
}*/
